/*.wd-font-size-20 {*/
/*    font-size: 20px;*/
/*}*/
/*.wd-font-size-15 {*/
/*    font-size: 15px;*/
/*}*/
/*.wd-font-size-13 {*/
/*    font-size: 13px;*/
/*}*/
.wd-avatar {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}
/*.wd-float-10 {*/
/*    float: left;*/
/*    width: 10%;*/
/*}*/
/*.wd-float-90 {*/
/*    float: left;*/
/*    width: 90%;*/
/*}*/
/*.wd-float-25 {*/
/*    float: left;*/
/*    width: 25%;*/
/*}*/
/*.wd-content-width-limit {*/
/*    max-width: 506px;*/
/*}*/
/*.wd-sub-content-width-limit {*/
/*    max-width: 504px;*/
/*}*/
/*.wd-rounded-all-corners {*/
/*    border-radius: 20px;*/
/*}*/
/*.wd-rounded-top-corners {*/
/*    border-top-left-radius: 20px;*/
/*    border-top-right-radius: 20px;*/
/*}*/
/*.wd-content-image-size {*/
/*    height: 264px;*/
/*    width: 504px;*/
/*}*/
/*.wd-padding-all-12 {*/
/*    padding: 12px;*/
/*}*/
/*.wd-padding-no-bottom-12 {*/
/*    padding-top: 12px;*/
/*    padding-left: 12px;*/
/*    padding-right: 12px;*/
/*}*/
/*.wd-right-margin {*/
/*    margin-right: 12px;*/
/*}*/
/*.wd-color-red {*/
/*    color: red;*/
/*}*/