.wd-bg-color-black {
    background-color: black;
}
.wd-color-highlighted {
    color: rgb(29, 161, 242);
}
.wd-color-not-highlighted {
    color: rgb(110, 118, 125);
}
.wd-color-white {
    color: white;
}
.wd-border {
    border-width: 2px;
    border-style: solid;
    border-color: rgb(47, 51, 54);
}
.wd-left-margin {
    margin-left: 16px;
}
.wd-top-margin {
    margin-top: 10px;
}
.wd-float-done {
    clear: both;
}
.wd-inline-element {
    display: inline-block;
}
hr {
    border-color: rgb(110, 118, 125);
}
.wd-more {
    position: absolute;
    right: 20px;
}
.wd-stable-link {
    text-decoration: none;
    color: inherit;
}